<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Api Externa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="stacked" >
      Informe seu cep
    </ion-label>
      <ion-input mask="00.000-00" [(ngModel)]="cep" name="cep"></ion-input>
  </ion-item>
  <ion-item>
      <ion-button expand="block" (click)="pesquisarCEP()" >Consultar</ion-button>
  </ion-item>
</ion-content>
